version: '3.1'

services:
  tests:
    container_name: tests
    build:
      context: .
    volumes:
      - ./:/usr/src/code
    environment:
      - S3_ACCESS_KEY
      - S3_SECRET
      - DO_ACCESS_KEY
      - DO_SECRET
      - LINODE_ACCESS_KEY
      - LINODE_SECRET
      - BACKBLAZE_ACCESS_KEY
      - BACKBLAZE_SECRET
      - WASABI_ACCESS_KEY
      - WASABI_SECRET
      - AZURE_ACCOUNT
      - AZURE_ACCESS_KEY