version: '3.1'

services:
  tests:
    container_name: tests
    image: storage-dev
    build:
      context: .
    volumes:
      - ./src:/usr/src/code/src
      - ./tests:/usr/src/code/tests
      - ./phpunit.xml:/usr/src/code/phpunit.xml
    environment:
      - S3_ACCESS_KEY
      - S3_SECRET
      - DO_ACCESS_KEY
      - DO_SECRET
      - LINODE_ACCESS_KEY
      - LINODE_SECRET
      - BACKBLAZE_ACCESS_KEY
      - BACKBLAZE_SECRET
      - WASABI_ACCESS_KEY
      - WASABI_SECRET
      - ARUBACLOUD_ACCESS_KEY
      - ARUBACLOUD_SECRET 